<div class = "shopify-link">
  <span>&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}</span>
  <br>
  <a href="//www.shopify.com/?ref=page-mill-design" target="_blank">{{ 'general.footer.powered_by' | t }}</a>
  <span> • </span>
  <a href = "http://presidiocreative.com">Site by Presidio Creative</a>
</div> 